@import "tailwindcss";

html,
body {
  overscroll-behavior: none;
  overflow: auto;
  height: 100%;
  text-align: white;
}

/* Se serve anche per i contenitori scrollabili interni */
.scrollable-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Per un migliore scrolling su dispositivi mobili */
  height: 100%;
}

/* Animazione ShinyText */
@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
/* Nasconde le scrollbar per Chrome, Safari e Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Nasconde le scrollbar per Internet Explorer e Edge */
* {
  -ms-overflow-style: none;
}

/* Nasconde le scrollbar per Firefox */
* {
  scrollbar-width: none;
}

.bg-body {
  background-color: #1a1a1a;
}

.min-h-screen-calc {
  min-height: calc(100vh - 100px); /* 4rem è l'altezza della navbar */
}
